interactions:
- request:
    body: '{"Unnamed: 0": 0, "productNumber": "1", "name": "Red Bull Energy Drink
      250 ml", "description": "Herkunft: \u00d6sterreich. Zutaten: Wasser, Saccharose,
      Glucose, S\u00e4ureregulator Natriumcitrate, Kohlens\u00e4ure, Taurin (0,4%),
      Glucuronolacton (0,24%), Koffein (0,03%), Inosit, Vitamine (Niacin, Pantothens\u00e4ure,
      B6,B12), Aroma, Farbstoffe (einfache Zuckerkul\u00f6r, Riboflavin).", "priceGross":
      1.0, "countryTax": 7, "priceNet": 0.93, "measureUnit": "ml", "measureQuantity":
      250.0, "baseMeasureUnit": "l", "baseMeasureQuantity": 1.0, "categories": "Erfrischungsgetr\u00e4nke",
      "images": "http://s914789466.online.de/bzd_bilder/Red Bull Energy Drink 250
      ml.jpg", "keywords": "Getr\u00e4nke, Erfischungsgetr\u00e4nke, Saft, Cola, Sirup,
      alkoholfrei, Fanta, Sprite, Wasser, Energy Drink", "stock": 0.0, "ean": "nan",
      "active": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.lozuka-awiti.com/api/poa/products/import
  response:
    body:
      string: '{"message":"Invalid credentials."}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"Unnamed: 0": 1, "productNumber": "2", "name": "Mandarin Veneto 330 ml",
      "description": "Name: \u0645\u0646\u062f\u0631\u064a\u0646 \u0641\u064a\u0646\u062a\u0648
      Herkunft: T\u00fcrkei. Zutaten: Wasser, Fruktose, Glukose, sirup, Kohlendioxid,
      S\u00e4ureregulator (ZitronenS\u00e4ure), Farbstoffe (schwarzes Karottensaftkonzentrat),
      Ammonium -sulfite- karamell), Aromen, Konservierungsmittel ( Natriumbenzoat).  Tip:
      Nach dem \u00d6ffnen gek\u00fchlt bei maximal 7\u00b0C f\u00fcr maximal 3 Tage
      in einem geschlossenen Beh\u00e4lter aufbewahren. (Fleischerzeugnis nicht in
      der ge\u00f6ffneten Konservendose aufbewahren).", "priceGross": 1.0, "countryTax":
      7, "priceNet": 0.93, "measureUnit": "ml", "measureQuantity": 330.0, "baseMeasureUnit":
      "l", "baseMeasureQuantity": 1.0, "categories": "Erfrischungsgetr\u00e4nke",
      "images": "http://s914789466.online.de/bzd_bilder/Mandarin Veneto 330 ml.jpg",
      "keywords": "Getr\u00e4nke, Erfischungsgetr\u00e4nke, Saft, Cola, Sirup, alkoholfrei,
      Fanta, Sprite, Wasser, Energy Drink", "stock": 0.0, "ean": "nan", "active":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.lozuka-awiti.com/api/poa/products/import
  response:
    body:
      string: '{"message":"Invalid credentials."}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"Unnamed: 0": 4, "productNumber": "5", "name": "Rockstar Energy Drink
      Freeze Wassermelone 500 ml", "description": "Herkunft: Deutschland. Zutaten:
      Wasser, Zucker, Dextrose, Kohlens\u00e4ure, S\u00e4uerungsmittel Citronens\u00e4ure,
      Taurin (0,4%), Aroma, Koffein (0,032%), Stabilisatoren (Gummi arabicum, Glycerinester
      aus Wurzelharz), Glucuronolacton (0,024%), modifizierte St\u00e4rke, Antioxidationsmittel
      Ascorbins\u00e4ure, Ginseng-Aromaextrakt (0,01%), Guarana-Extrakt (0,01%), Inosit
      (0,01%), Niacin, Pantothenat, Vitamin B6, Farbstoff Beta-Carotin, Vitamin B12.
      Tip: Trocken und vor W\u00e4rme gesch\u00fctzt lagern.", "priceGross": 1.0,
      "countryTax": 7, "priceNet": 0.93, "measureUnit": "ml", "measureQuantity": 500.0,
      "baseMeasureUnit": "l", "baseMeasureQuantity": 1.0, "categories": "Erfrischungsgetr\u00e4nke",
      "images": "http://s914789466.online.de/bzd_bilder/Rockstar Energy Drink Freeze
      Wassermelone 500 ml.jpg", "keywords": "Getr\u00e4nke, Erfischungsgetr\u00e4nke,
      Saft, Cola, Sirup, alkoholfrei, Fanta, Sprite, Wasser, Energy Drink, Malzgetr\u00e4nk,
      Eistee, Eiskaffee", "stock": 0.0, "ean": "nan", "active": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.lozuka-awiti.com/api/poa/products/import
  response:
    body:
      string: '{"message":"Invalid credentials."}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"Unnamed: 0": 6, "productNumber": "7", "name": "Laziza Himbeere alkoholfreie
      330 ml", "description": "Name: \u0634\u0631\u0627\u0628 \u0634\u0639\u064a\u0631
      \u0628\u0646\u0643\u0647\u0629 \u0627\u0644\u062a\u0648\u062a Herkunft: Libanon.
      Zutaten: Wasser, Gerstenmalz, Mais, Zucker, Zitronens\u00e4ure E330, Hopfen,
      naturidentisches Himbeeraroma.", "priceGross": 1.0, "countryTax": 7, "priceNet":
      0.93, "measureUnit": "ml", "measureQuantity": 330.0, "baseMeasureUnit": "l",
      "baseMeasureQuantity": 1.0, "categories": "Erfrischungsgetr\u00e4nke", "images":
      "http://s914789466.online.de/bzd_bilder/Laziza Himbeere alkoholfreie 330 ml.jpg",
      "keywords": "Getr\u00e4nke, Erfischungsgetr\u00e4nke, Saft, Cola, Sirup, alkoholfrei,
      Fanta, Sprite, Wasser, Energy Drink, Malzgetr\u00e4nk, Eistee, Eiskaffee", "stock":
      0.0, "ean": "nan", "active": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.lozuka-awiti.com/api/poa/products/import
  response:
    body:
      string: '{"message":"Invalid credentials."}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"Unnamed: 0": 2, "productNumber": "3", "name": "Hot Blood Energy Drink
      250 ml", "description": "Herkunft: Deutschland. Zutaten: Wasser, Zucker, Dextrose,
      S\u00e4uerungsmittel: Zitronens\u00e4ure, Kohlens\u00e4ure, Taurin (0,4%)  S\u00e4ueregulatoren:
      Natriumcitrate, Magnesiumcarbonate, Aroma, Koffein (0,024), Farbstoffe: Ammonsulfiz-Zuckerkul\u00f6r,
      Riboflavine Vitamine: Niacin, Pantothens\u00e4ure, VitaminB6, Vitamin B12  Inosit
      (0,01%). Tip: Trocken und vor W\u00e4rme gesch\u00fctzt lagern.", "priceGross":
      1.0, "countryTax": 7, "priceNet": 0.93, "measureUnit": "ml", "measureQuantity":
      250.0, "baseMeasureUnit": "l", "baseMeasureQuantity": 1.0, "categories": "Erfrischungsgetr\u00e4nke",
      "images": "http://s914789466.online.de/bzd_bilder/Hot Blood Energy Drink 250
      ml.jpg", "keywords": "Getr\u00e4nke, Erfischungsgetr\u00e4nke, Saft, Cola, Sirup,
      alkoholfrei, Fanta, Sprite, Wasser, Energy Drink", "stock": 0.0, "ean": "nan",
      "active": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.lozuka-awiti.com/api/poa/products/import
  response:
    body:
      string: '{"data":{"id":1676,"is_new":false,"message":"product_imported_successfully"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"Unnamed: 0": 3, "productNumber": "4", "name": "Peison Energy Drink 250
      ml", "description": "Herkunft: T\u00fcrkei. Zutaten: Kohlens\u00e4urehaltiges
      Wasser, Zucker, S\u00e4ure (Zitronens\u00e4ure), Koffein, Taurin, Glucuronolacton,
      Inositol, nat\u00fcrliche Farbstoffe (Karamell E150c, Riboflavin E101), naturidentisches
      Rote-Beere-Aroma, Konservierungsstoff (Natriumbonzoat, Kaliumsorbat), Niacin,
      Pamothens\u00e4ure, Vitamin B6, Vitamin B12. Tip: Trocken und vor W\u00e4rme
      gesch\u00fctzt lagern.", "priceGross": 1.0, "countryTax": 7, "priceNet": 0.93,
      "measureUnit": "ml", "measureQuantity": 250.0, "baseMeasureUnit": "l", "baseMeasureQuantity":
      1.0, "categories": "Erfrischungsgetr\u00e4nke", "images": "http://s914789466.online.de/bzd_bilder/Peison
      Energy Drink 250 ml.jpg", "keywords": "Getr\u00e4nke, Erfischungsgetr\u00e4nke,
      Saft, Cola, Sirup, alkoholfrei, Fanta, Sprite, Wasser, Energy Drink, Malzgetr\u00e4nk,
      Eistee, Eiskaffee", "stock": 0.0, "ean": "nan", "active": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.lozuka-awiti.com/api/poa/products/import
  response:
    body:
      string: '{"data":{"id":1677,"is_new":false,"message":"product_imported_successfully"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
